services:
  db:
    image: postgres:17
    container_name: depositescrow-postgres
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    restart: always
    ports:
      - '${POSTGRES_PORT}:5432'
    volumes:
      - depositescrow_postgres_data:/var/lib/postgresql/data
    # healthcheck:
    #   test: ["CMD-SHELL", "pg_isready -U postgres"]
    #   interval: 30s
    #   timeout: 10s
    #   retries: 3
volumes:
  depositescrow_postgres_data:
